# Dev environment
NODE_ENV=development
API_BASE_URL=http://localhost:3000
AUTH_SERVICE_BASE_URL=http://localhost:3001
USER_SERVICE_BASE_URL=http://localhost:3002
KYC_SERVICE_BASE_URL=http://localhost:3003
EVENT_SERVICE_BASE_URL=http://localhost:3004
TICKETING_SERVICE_BASE_URL=http://localhost:3005
PAYMENT_ORCHESTRATOR_BASE_URL=http://localhost:3006
MARKETPLACE_SERVICE_BASE_URL=http://localhost:3007
CHECKIN_SERVICE_BASE_URL=http://localhost:3008
REFUND_SERVICE_BASE_URL=http://localhost:3009
RECOVERY_SERVICE_BASE_URL=http://localhost:3011
DISPUTE_SERVICE_BASE_URL=http://localhost:3012
NOTIFICATION_SERVICE_BASE_URL=http://localhost:3013
CONTRACT_SYNC_SERVICE_BASE_URL=http://localhost:3014
DATABASE_URL=postgres://user:pass@localhost:5432/ticket_dev
REDIS_URL=redis://localhost:6379
BASE_CHAIN_ID=31337
BASE_RPC_URL=http://127.0.0.1:8545
TICKET_NFT_ADDRESS=0x5fbdb2315678afecb367f032d93f642f64180aa3
MARKETPLACE_CONTRACT_ADDRESS=0xe7f1725e7734ce288f8367e1bb143e90bb3f0512
TICKET_PAYMASTER_ADDRESS=0x9fe46736679d2d9a65f0992f2272de9f3c7fa6e0
GUARDIAN_ACCOUNT_ADDRESS=0xcf7ed3acca5a467e9e704c703e8d87f634fb0fc9
TRACKED_CONTRACT_ADDRESSES=0x5fbdb2315678afecb367f032d93f642f64180aa3,0xe7f1725e7734ce288f8367e1bb143e90bb3f0512,0x9fe46736679d2d9a65f0992f2272de9f3c7fa6e0,0xcf7ed3acca5a467e9e704c703e8d87f634fb0fc9
PAYMENT_PROVIDER=momo
KYC_PROVIDER=fpt
